<div class="painel">
  <div class="servicos-bloco">
    <h2>
      SOLUÇÕES PERSONALIZADAS E EFICIENTES EM<br>
      <span class="red">SEGURANÇA</span> PARA DIVERSOS SEGMENTOS.
    </h2>
    <div class="servicos-grid">
      <div *ngFor="let servico of listaSeguranca" class="servico-card">
        <img class="servico-icon" [src]="servico.icon" alt="{{servico.label}}" width="32"
          height="32" />
        <span class="servico-label">{{servico.label}}</span>
      </div>
    </div>
    <button class="saiba-mais">Saiba mais</button>
  </div>
  <div class="profissional-bloco">
    <div class="content">
      <div class="wrapper">
        <div class="shield">
        </div>

        <div class="mask-container">
          <img src="../../assets/personagem.png" alt="Personagem" />
        </div>
      </div>
    </div>
  </div>