<app-header></app-header>
<app-banner></app-banner>
<app-escudos-saibamais></app-escudos-saibamais>
<app-toggle-servicos></app-toggle-servicos>
<!-- <app-segmentos></app-segmentos> -->
 <app-carousel></app-carousel>
  <app-news-carousel
  [items]="items"
  [visible]="3"
  [autoSlideMs]="0" 
></app-news-carousel>
 <app-local-atuacao></app-local-atuacao>

<!-- <app-carrosel></app-carrosel> -->
<!-- <app-info-block></app-info-block> -->
<!-- <app-services></app-services> -->

<!-- 2º Tradição e Tecnologia em Segurança
3º Segurança e Facilities da Veper
4º Segmentos e Atações da Veper
5º Mapa
6º Rodape com dados de contato e endereço -->