<div class="onde-atuamos">
  <div class="atuamos-textos">
    <div class="atuamos-legenda">ONDE ATUAMOS</div>
    <h2>
      Estamos presentes em vários <br>
      estados para a sua tranquilidade
    </h2>
    <p>
      Estendemos nossos serviços por todo território brasileiro, oferecendo soluções integradas em
      <span class="bold">segurança</span>,
      <span class="bold">limpeza</span>,
      <span class="bold">portaria</span>,
      <span class="bold">manutenção</span>,
      <span class="bold">transporte</span> e mais.<br>
      Com presença em vários estados, garantimos eficiência e qualidade em cada projeto, proporcionando tranquilidade e confiança para nossos clientes em todo o Brasil.
    </p>
  </div>
  <div class="atuamos-mapa">
    <img [src]="imagemMapa" alt="Mapa Brasil" />
  </div>
</div>
