.onde-atuamos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 0 54px 0;
  gap: 48px;
  width: 100vw;

  .atuamos-textos {
    max-width: 540px;
    padding-left: 60px;
    .atuamos-legenda {
      color: #b8191c;
      font-family: 'Oswald', Arial, Helvetica, sans-serif;
      font-size: 1.18rem;
      font-weight: 900;
      letter-spacing: 1px;
      margin-bottom: 16px;
    }
    h2 {
      font-family: 'Oswald', Arial, Helvetica, sans-serif;
      font-size: 2.6rem;
      font-weight: 900;
      color: #221b47;
      margin: 0 0 24px 0;
      line-height: 1.16;
    }
    p {
      font-size: 1.2rem;
      color: #36384a;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      margin-bottom: 0;
      .bold {
        font-weight: 800;
        color: #221b47;
        font-family: 'Oswald', Arial, Helvetica, sans-serif;
      }
    }
  }

  .atuamos-mapa {
    min-width: 550px;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      width: 540px;
      height: auto;
      display: block;
      border-radius: 12px;
    }
  }
}

@media (max-width: 1200px) {
  .onde-atuamos {
    flex-direction: row;
    gap: 10px;
    .atuamos-textos {
      padding-left: 0;
      text-align: center;
    }
    .atuamos-mapa {
      min-width: unset;
      img { width: 94vw; min-width: 220px; max-width: 430px;}
    }
  }
}
