 <div class="content">
    <p class="title">Shoppings</p>
    <div class="shield">
            <img src="../../assets/personagem.png" alt="Personagem" />
    </div>
</div>



<div class="content">
    <p class="title">Shoppings</p>

    <!-- Container que segura os dois elementos -->
    <div class="wrapper">
        <div class="shield">
            <!-- Se quiser, pode manter imagem de fundo aqui -->
        </div>

        <div class="mask-container">
            <img src="../../assets/personagem.png" alt="Personagem" />
        </div>
    </div>
</div>
